body {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100vh;
    /* font-family: 'Patrick Hand SC', cursive; */
    font-family: 'Chilanka', cursive;
    font-weight: 400;
    font-size: 3.75rem;
    color: #116FB2;
    box-sizing: border-box;
}

.red {
    color: red;
}

.green {
    color: green;
}

#root {
    height: 100%;
}

main {
    height: 100%;
    background-size: 1.5625rem 1.5625rem;
    background-image: linear-gradient(90deg, #EAECF6 .125rem, transparent 0rem), linear-gradient(#EAECF6 .0625rem, transparent 0rem);
    display: flex;
    flex-direction: row;
}

main > div {
    width: 50%;
}

.left-half {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

.word-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.word-context {
    text-align: center;
    padding: .3125rem 3.75rem;
    border: .5rem solid #191b1d;
    border-radius: .5rem;
    font-size: 2.5rem;
}

.word {
    margin-top: 2.5rem;
    font-size: 3.4375rem;
    display: flex;
    justify-content: center;
}

.alphabet {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: .3125rem;
    text-align: center;
    min-width: 2.5rem;
    min-height: 3.75rem;
}

.keyboard-container {
    width: 100%;
    padding: 4.6875rem 0rem;
    display: flex;
    justify-content: center;
}

.keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 82%;
}

.key-row {
    display: flex;
    justify-content: space-around;
}

.key-row.top {
    width: 100%;
}

.key-row.middle {
    width: 90%;
}

.key-row.bottom {
    width: 70%;
}

.key {
    cursor: pointer;
}